.odd {
    background-color: rgb(238, 179, 216);
    font-family: Verdana, "DejaVu Sans", sans-serif;
}
#number2 {
    color: rgb(36, 111, 155);
    font-size: 36px;
}
.cooler {
    font-size: 24px;;
}
#number4 {
    background-color: rgb(124, 226, 120);
    font-size: 24px;
    font-weight: bold;
}